%section.project#projects
  .container
    .content-project-title
      %h1 EXPERIENCIAS
    -#   %p Nuestros servicios están especializados en la ejecución de Agenciamiento aduanal, agenciamiento naviero.
    - projects = [{image: "assets/img/07.jpg", alt: 'Proyecto 1', title: 'Proyecto 1', description: 'Carga y descarga de contenedores', ct: 'Ver más', date:''},{image: "assets/img/13.jpg", alt:'Proyecto 2',title: 'Proyecto 2', description: 'Internación de mercancía', ct: 'Ver más'}, {image: "assets/img/15.jpg", alt:'Proyecto 3',title: 'Proyecto 3', description: 'Internación de mercancía', ct: 'Ver más'},{image: "assets/img/02.jpg", alt:'Proyecto 4',title: 'Proyecto 4', description: 'Internación de mercancía', ct: 'Ver más'}, {image: "assets/img/12.jpg", alt:'Proyecto 5',title: 'Proyecto 5', description: 'Internación de mercancía', ct: 'Ver más'}]
    .row
      .main
        .slider.projects-carousel
          - projects.each_with_index do |project, x|
            .col-xl-4.col-lg-4.col-md-6.col-sm-6.content-project-card
              .grid
                -# %figure.effect-duke.wow.animated{class: " img-#{x} #{x.even? ? 'fadeInLeft' : 'fadeInRight'}", 'data-wow-duration' => '1500ms', 'data-wow-delay' => "#{x * 0.5}s"}
                %figure.effect-duke.wow.animated.fadeInUp{'data-wow-duration' => '1500ms'}
                  %img{ :alt => "#{project[:alt]}", :src => "#{project[:image]}"}/
                  %figcaption
                    %p.description-project= project[:description]
                    %a{:href => "single_project.html"}= project[:ct]
                          
              %h4.title-project.wow.animated.fadeInUp{'data-wow-duration' => '1500ms'}= project[:title]
    .cta-service      
      %a.btn-caderco.btn{:href => "projects.html", 'data-content'=>"Nuestros Servicios"}
        %span Nuestros Proyectos


:scss
  .main {
    width:100%;
    display:block;
    margin:0 auto;
  }


  
